<%= simple_form_for(@behatweb) do |f| %>
  <% if @behatweb.errors.any? %>

    <div id="error_explanation">
      <h2><%= pluralize(@behatweb.errors.count, "error") %> prohibited this behatweb from being saved:</h2>

      <ul>
      <% @behatweb.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
         
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :title  %>
  </div>
  <div class="field">
    
    <%= f.text_area :content,:class => "tinymce", :rows => 30, :cols => 50 %></div>
  <div class="field">
    <%= f.input :author %>
  </div>
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
<%= tinymce%>
