
<% @behatwebs.each do |behatweb| %>
<div class="book-content">
<div  class="chapter">
  <div id=<%= behatweb.id %> >
   
   <legend> <h2><%= behatweb.title %></h2></legend>
   
    <P><%=behatweb.content.html_safe %> </p>
   
     

  <br><br>
<%= link_to 'show', behatweb, class:"btn btn-primary" %>
<%= link_to "Edit",edit_behatweb_path(behatweb), class:"btn btn-success" %>
<%= link_to 'Destroy',behatweb,method: :delete,data: { confirm: 'Are you sure?'} , class:"btn btn-danger"%>
</div>
</div>
</div>
<% end %>

<h2>Comments</h2>

<% @behatweb.comments.each do |c| %>

<p>
	<b><%= c.name %></b> 
	<%= time_ago_in_words(c.created_at) %> ago
</p>

<p>
	<%=h c.body%>
</p>

<%end%>

<% form_for [@behatweb, Comment.new] do |f| %>
  <p>

    <%= f.label :name, "Author" %><br />
    <%= f.text_field :name %><br />
    <%= f.label :body, "Comment Description" %><br />
    <%= f.text_area :body %>
  </p>

  <p>
    <%= f.submit "Add Comment" %>
  </p>
<% end %>