<% @behatwebs.each do |behatweb| %>

<div  class="chapter">
  <div id="chapter1">
    <h2><%= behatweb.title %></h2>
    <h3>Installation</h3>
    <P><%=behatweb.content.html_safe %> </p>
  <div class="book-image">

  

  <%= image_tag("screenshot.jpg", alt:"simple")%>

  </div>

</div>
<%= link_to 'show', behatweb %>
<%= link_to "Edit",edit_behatweb_path(behatweb) %>
<%= link_to 'Destroy',behatweb,method: :delete,data: { confirm: 'Are you sure?'} %>
</div>
<% end %>