<div  class="chapter" ,id="chapter2">
	<div id="chapter2">
				<legend><h2>Behat Installation</h2></legend>
				<br>	
		<legend>Step 1 Installation of Ubuntu VM in Windows 7.</legend> <br>
		<p><b>Why Ubuntu -> </b><br>
		1)	Ubuntu is a complete desktop Linux operating system, freely available with both community and professional support.<br>
		2)	Pre-installed tools  like CURL(A command line tool for getting or sending files using URL syntax) <br><br>

		<b>Download Oracle VM</b> <br>

		<div class="book-image">

		<%= image_tag("installation/fig1-vm.jpg", alt:"simple")%>

		</div>

		<b>You need admin rights to install Oracle VM manager using exe  just downloaded.
		Download Drupal Quick Start .ova file.</b>

		<div class="book-image">

	

		<%= image_tag("installation/fig2-quick.jpg", alt:"simple")%>

		</div>
	
		<b>Now in Oracle VM click on File tab and select Import Application</b>
		<div class="book-image">

		<%= image_tag("installation/fig3-quickinstall.jpg", alt:"simple")%>

		</div>

		<b>	Now import Appliance</b>
		<div class="book-image">

		<%= image_tag("installation/fig4-import.jpeg", alt:"simple")%>

		</div>

		<b>Select the ova file</b>
		<div class="book-image">
		<%= image_tag("installation/fig5-importquick.jpg", alt:"simple")%>

		</div>

		<legend>Step 2 Installtion of Behat on Ubuntu</legend><br>
               Create a working directory <br>
               <br>
The simplest way to install Behat is through Composer. Before we begin, let’s install a few libraries. Start by creating a new directory and adding a composer.json file.<br>
<br>
Composer is a tool that helps download external libraries into your project. We’ll be downloading Behat, Mink, and a few other related libraries into our working directory/folder.<br> 
<br>
Composer's main job is to download third-party libraries into a vendor directory in your project.<br>
To tell Composer which libraries you need, your project needs to have a composer.json configuration file<br>
More about composer on http://getcomposer.org/doc/00-intro.md<br>
More about why to use composer https://knpuniversity.com/screencast/composer<br>
Add below contents to your composer.json.<br><br>
<b>
{<br>
    "require": {<br>
        "behat/mink": "1.4@stable",<br>
        "behat/mink-goutte-driver": "*",<br>
        "behat/mink-selenium2-driver": "*",<br>
        "behat/behat": "2.4@stable",<br>
        "behat/mink-extension": "*"<br>
    },<br>
    "minimum-stability": "dev",<br>
    "config": {<br>
        "bin-dir": "bin/"<br>
    }<br>
}<br></b>
<br>
The first is to download the Composer executable. Go to GetComposer.org, click "Download", and then copy one of the two code blocks depending if you have curl installed<br><br>
	<b>curl http://getcomposer.org/installer | php</b><br><br>
Composer itself is just an executable file, and this fancy bit of code downloads the file and makes sure your system is setup to use Composer. <br><br>
We've downloaded the Composer executable and created the composer.json config file. To actually put Composer to work, run php composer.phar install. This is the most important command: it reads the composer.json file and downloads all the needed libraries into the vendor directory.<br><br>
       <b>php composer.phar install --prefer-dist</b><br><br>
And look, a vendor directory! It holds the all listed libraries and a few other things that help with autoloading - which is one of the most powerful features of Composer. When we ran the install command earlier, one of the things it did was create a composer.lock file that recorded the exact versions of all libraries that it downloaded at that exact moment.<br><br>
Each library mentioned as in json file will be downloaded after a big wait and placed it into a new vendor/ directory inside working project directory. When it’s finished, you’ll also notice a new bin/ directory with a behat file in it. This is the Behat executable, and you’ll use it to run your tests and get debug information.<br>

		</p>

</div>
</div>