<div class="center hero-unit">
  <h1>Work on Open Source</h1>

  <h2>
    This is a knowledge sharing portal for open source framework
    
   
  </h2>

  <%= link_to "Get Started Now!", userview_path, class: "btn btn-large btn-success" %>
  
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/',:id=>"ror-logo" %>
<%= image_tag("behat.jpg", alt:"simple",height:"100",width: "100",:id=>"simple-logo")%> 
<%= image_tag("php.jpg", alt:"simple",height:"100",width: "100",:id=>"simple-logo")%> 
<%= image_tag("cucumber.jpg", alt:"simple",height:"100",width: "100",:id=>"simple-logo")%> 
<%= image_tag("ruby.jpg", alt:"simple",height:"30",width: "50",:id=>"simple-logo")%> 
<%= image_tag("selenium.jpg", alt:"simple",height:"100",width: "80",:id=>"simple-logo")%> 